* {
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family:'Times New Roman', Times, serif;
}
.card {
    background-image: url('../Imagens/backgorund.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 200px;
    padding: 5px;
    padding-left: 40px;
    margin: auto;
}
ul{
    text-transform: uppercase;
}
.instagram {
    list-style-image: url('../Imagens/Insta.png');
}
.youtube {
    list-style-image:url('../Imagens/Youtube.png');
    
}
.twitter {
    list-style-image: url('../Imagens/Twitter.png');
}
ul > li > a {
    text-decoration: none;
    color: black;
}

h1{
    text-transform: capitalize;
    font-weight: 200;
    letter-spacing: 5px;
}